::-webkit-input-placeholder { /* WebKit browsers */
  color: #eee;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #eee;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #eee;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #222;
}
